body {
  font-family: Arial, sans-serif;
}

div {
  text-align: center;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f2f2f2;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  border-radius: 8px;
}